{% extends 'base.html' %}

{% block content %}
<div class="mainblock">
    <div class="category-block">
        <h1>Mano Kategorijos</h1>
        {% if user_categories %}
            {% for category in user_categories %}
                <li><a href="{{category.id}}"> {{category.name}}</a></li>
            {% endfor %}
            <h1>Susikurkite Kategoriją</h1>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'notebook:categories-new'%}">Nauja kategorija</a></li>
    </div>
    
    <div class="category-div">
        <h1>Pasirinkite kategoriją</h1>
        <div style="display: flex; flex-wrap: wrap;">
            {% if user_categories %}
            {% for category in user_categories %}
                <div  class="single-category">
                    <div class="single-category-title">
                        <a href="{{category.id}}"> {{category.name}}</a>
                    </div>
                    <div>
                        <a href="{% url 'notebook:user-category-update' category.id %}">Redaguoti</a>
                        <hr>
                        <a href="{% url 'notebook:user-category-delete' category.id %}">Ištrinti</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p>Kategorijų nėra</p>
            {% endif %}
        </div>
    </div>

</div>

    

{% endblock %}