{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div>
                    {{ message }}
                </div>
            {% else %}
                <div>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="regform">
        <h3>Registracija</h3>
        <form method="post">
            {% csrf_token %}
            <div class="regformcell">
                <label for="username">Vartotojo vardas</label>
                <input name="username" type="text" id="username" aria-describedby="usernameHelp">
                <small id="usernameHelp">Iki 150 simbolių.</small>
            </div>
            <div class="regformcell">
                <label for="email">El. paštas</label>
                <input name="email" type="email" id="email" aria-describedby="emailHelp">
                <small id="emailHelp">Nesidalinsime su niekuo, nesiųsime jokio spamo.
                    Reikalingas naujam slaptažodžiui išsiųsti. </small>
            </div>
            <div class="regformcell">
                <label for="password">Slaptažodis</label>
                <input name="password" type="password" id="password" aria-describedby="pwdHelp">
                <small id="pwdHelp">Ne mažiau, kaip 8 simboliai. Negali būti vien tik
                    skaičiai</small>
            </div>
            <div class="regformcell">
                <label for="password2">Pakartoti slaptažodį</label>
                <input name="password2" type="password" id="password2" aria-describedby="pwd2Help">
            </div>
            <button class="regformcell" class="regbutton" type="submit">Registruotis</button>
        </form>
        <p>Jeigu užsiregistravote anksčiau, <a href="#"><strong>prisijunkite.</strong></a></p>
    </div>

{% endblock %}