{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="new-record-block">
                <fieldset class="new-record-fieldset">
                    <legend class="new-record-legend">Naujas įrašas</legend>
                    {{ form }}
                </fieldset>
                <div class="new-record-button">
                    <button class="btn btn-outline-info" type="submit">Išsaugoti</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}