body {
    background: url("/static/notebook_background_wood.jpg") 50% 0 no-repeat fixed;
    background-size: cover;
    background-size: 100% 100%;
}
body header {
    height: 5rem;
    background-color: rgb(255, 142, 101);
    padding: 1rem;
    display: flex;
}

body header .title {
    color: rgb(50, 103, 200);
    font-size: 1.3rem;
    margin: auto;
    
}

body header .reglinks {
    display: flex;
}

body header .reglinks a {
    color: rgba(104, 3, 3, 0.895);
    text-decoration: none;
    font-size: 1.2rem;
    margin: auto;
    padding: 0.5rem;
}

body header .title h1 {
    margin: 0;
}

.regform {
    margin: auto;
    width: 35vw;
}

.regform h3 {
    font-size: 2rem;
    text-align: center;
    color: rgba(104, 3, 3, 0.895);
}

.regformcell {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

.regformcell label {
    font-size: 1.2rem;
    color: brown;
}

.regformcell input {
    height: 2rem;
    border-radius: 5px;
}

.regform button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.regform p {
    margin: 1.5rem;
}
.regform p a {
    text-decoration: none;
    font-size: large;
    color: rgba(104, 3, 3, 0.895);
}

.loginform {
    margin: auto;
    margin-top: 10rem;
    width: 35vw;
}

.loginform p a {
    text-decoration: none;
    font-size: large;
    color: rgba(104, 3, 3, 0.895);
}

.loginsubmit {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.logintable tr {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.loginlabel {
    font-size: 1.2rem;
    color: brown;
}
.logininput input {
    height: 2rem;
    border-radius: 5px;
    width: 30vw;
}

.logged-out-form {
    height: 30rem;
    text-align: center;
}

.logged-out-form p {
    font-size: 2rem;
}

.logged-out-form a {
    text-decoration: none;
    font-size: 2rem;
    color: rgba(104, 3, 3, 0.895);
}

.mainblock {
    display: flex;
}

.category-block {
    width: 25%;
}

.category-div {
    width: 75%;
}

.single-category {
    width: 200px; 
    height: 200px; 
    background-color:rgb(205, 163, 108);
    margin: 2rem;
    text-align: center;
}

.single-category a {
    text-decoration: none;
    color: black;
    
    
}

.record-block {
    display: flex;
    flex-wrap: wrap;
}

.record-div {
    width: 20rem;
    height: 17rem;
    background-color: chocolate;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-div p {
    margin: 0;
}

.record-div a {
    padding: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.new-record-block {
    margin: auto;
    width:40%;
}

.new-record-fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}

.new-record-legend{
    font-size: 2rem;   
    color: brown;
}

.new-record-button button {
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    color: brown;
    margin-top: 1rem;
}

.new-record-fieldset label {
    color: brown;
}

.new-record-fieldset input, select {
    height: 1.5rem;
    border-radius: 5px;
}

.new-record-fieldset textarea {
    border-radius: 5px;
    height: 5rem;
}